<!-- <p>portfolio works!</p> -->
<mat-vertical-stepper #stepper>
    <mat-step>
        <ng-template matStepLabel>About</ng-template>
        <p>WIP</p>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Skills</ng-template>
        <p>WIP</p>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Work</ng-template>
        <p>WIP</p>
        <!-- <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button >Reset</button>
        </div> -->
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Contact</ng-template>
        <p><a href="mailto: arremsettynikhil@gmail.com">Email</a></p>
        <p><a href="tel:800-810-8660">Phone</a></p>
    </mat-step>
</mat-vertical-stepper>

<!-- <mat-progress-bar></mat-progress-bar>
<button mat-raised-button color="accent">Nikhil</button>
<mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider> -->